<footer class="border-top footer text-muted">
    <partial name="_CookieConsentPartial"/>
    <div class="container">
        &copy; 2019 - BoardGameClubRoom - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>