body {
    background-color: #424242 !important;
    color: #fff !important;
}

.navbar {
    background-color: #424242 !important;
    color: #fff !important;
}

.text-dark {
    color: #fff !important;
}

.navbar-light .navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
}

.form-control {
    color: #fff !important;
    background-color: #424242 !important;
    border: 1px solid #323232 !important;
}

.form-control:focus {
    color: #fff !important;
    background-color: #424242 !important;
    border-color: #323232 !important;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
}

.chatWindow {
    background-color: #323232;
}

.chatFrom {
    background-color: #424242
}

.dropdown-menu {
    background-color: #323232 !important;
    color: #fff !important;
}

.dropdown-item {
    color: #fff !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff !important;
    background-color: #424242 !important;
}

.chatInput {
    border-bottom-color: #bbbbbb;
    background-color: #cdcdcd;
}

.slider {
    background-color: #272626;
}

.sliderChatForm {
    background-color: #272626;
}

.chaticon {
    background-color: #3f3f3f;
    border-color: #3f3f3f;
}

.border-top {
    border-top-color: #272626 !important;
}

.border-bottom {
    border-bottom-color: #272626 !important;
}