@{
    ViewData["Title"] = "Chat";
}

<div class="chatWindow box-shadow">
    
    <div class="chatContainer">
        <div class="chatLog">

        </div>
    
        <form class="chatFrom" action="@Url.Action("SendMessage", "Chat")" method="post" data-ajax="true" data-ajax-method="post">
            <div class="sliderChatForm"></div>
            <textarea class="chatInput" name="Message"></textarea>
            <i class="fas fa-paper-plane chaticon"> Send</i>
        </form>
    </div>
    
    <div class="slider"></div>
</div>

<div class="detailsWindow">

</div>
